div.welcome {
    height: 300px;
    width: 100%;
    
    display: flex;           display: -webkit-flex;
    align-items: center;     -webkit-align-items: center;
    justify-content: center; -webkit-justify-content: center;
    flex-direction: column;
}

img {
    flex: 1;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
}

h2 {
    flex: 1;
}

ul {
    flex: 1;
}

#accounts {
    flex: 0 0 40px;
    margin: 10px 0 10px 0;

    display: flex;             display: -webkit-flex;
    align-items: center;       -webkit-align-items: center;
    justify-content: center; -webkit-justify-content: center;
}

#accounts a {
    flex: 0 0 40px;
    
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
}

#accounts > a > img {
    max-width: 100%;
}
